- active_nav_item :catalogue
- @page_title = 'Catalogue'
.categories
  %table{:style => 'width:100%'}
    %tbody
      - @product_categories.each_slice(2) do |slice|
        %tr
          - slice.each do |category|
            %td.space
            %td
              %h4
                =link_to category.name, products_path(category.permalink)
            %td.space
            %td
              = image_tag category.image ? category.image.path : '', { class: 'product-img' }
        %tr{:height => '20px;'}
      